openapi: 3.1.0
info:
  title: BoomBooming API
  version: 1.0.0
  description: BoomBooming Video SNS Platform — Upload & Publishing Pipeline API

servers:
  - url: https://api.boombooming.com/api/v1
    description: Production
  - url: https://dev-api.boombooming.com/api/v1
    description: Development

tags:
  - name: auth
    description: 회원가입 / 로그인
  - name: upload
    description: 업로드 파이프라인 (Presigned URL, 상태 Polling)
  - name: publish
    description: 게시 파이프라인 (자막, 공개 범위, 최종 게시)
  - name: feed
    description: 피드 조회 (숏폼 영상 목록)
  - name: user
    description: 사용자 프로필

paths:

  # ─────────────────────────────────────────
  # AUTH
  # ─────────────────────────────────────────
  /auth/signup:
    post:
      tags: [auth]
      summary: 회원가입
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, birth_date, marketing_consent]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                birth_date:
                  type: string
                  format: date
                  description: 청소년보호법 — 만 14세 미만 가입 거부
                marketing_consent:
                  type: boolean
      responses:
        "201":
          description: 가입 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: 이메일 중복

  /auth/login:
    post:
      tags: [auth]
      summary: 로그인
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/refresh:
    post:
      tags: [auth]
      summary: 액세스 토큰 갱신
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: 갱신 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ─────────────────────────────────────────
  # UPLOAD — Presigned URL
  # ─────────────────────────────────────────
  /upload/presigned-url:
    post:
      tags: [upload]
      summary: S3 Presigned URL 발급
      description: |
        클라이언트가 S3에 직접 업로드하기 위한 Presigned URL을 발급합니다.
        content-length-range 조건이 서명에 포함되어 150MB 초과 파일은 S3 레벨에서 거부됩니다.
        발급 후 job_id를 반환하며, 이후 상태 Polling에 사용합니다.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [upload_mode, file_name, file_size, content_type]
              properties:
                upload_mode:
                  type: string
                  enum: [STRAIGHT, MANUAL_TRIM, AI_AUTO_CUT, PHOTO_VIDEO, CAMERA_CAPTURE]
                file_name:
                  type: string
                file_size:
                  type: integer
                  description: bytes — 150MB(157,286,400) 초과 시 400 반환
                content_type:
                  type: string
                  enum: [video/mp4, video/quicktime, image/jpeg, image/png]
                trim_start_ms:
                  type: integer
                  description: Manual Trim 전용 — 시작 시점(ms)
                trim_end_ms:
                  type: integer
                  description: Manual Trim 전용 — 종료 시점(ms)
      responses:
        "200":
          description: Presigned URL 발급 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  presigned_url:
                    type: string
                    format: uri
                  expires_in:
                    type: integer
                    description: 초 단위 유효시간 (기본 900)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ─────────────────────────────────────────
  # UPLOAD — Status Polling
  # ─────────────────────────────────────────
  /upload/status/{job_id}:
    get:
      tags: [upload]
      summary: 업로드 처리 상태 조회 (Polling)
      description: |
        8단계 상태머신의 현재 상태를 반환합니다.
        READY_FOR_REVIEW TTL은 24시간 — 이후 EXPIRED 처리됩니다.
        클라이언트는 2초 간격으로 Polling하며, READY_FOR_REVIEW 또는
        FAILED 수신 시 Polling을 중단합니다.
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 상태 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadStatus"
        "404":
          description: job_id 없음

  # ─────────────────────────────────────────
  # UPLOAD — 임시 보관함 복원
  # ─────────────────────────────────────────
  /upload/drafts:
    get:
      tags: [upload]
      summary: 임시 보관함 목록 조회
      description: |
        READY_FOR_REVIEW 상태에서 앱을 종료한 경우 임시 보관됩니다.
        TTL 24시간 이내 복원 가능. 만료된 항목은 EXPIRED 상태로 반환됩니다.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: 임시 보관함 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  drafts:
                    type: array
                    items:
                      $ref: "#/components/schemas/DraftItem"

  # ─────────────────────────────────────────
  # PUBLISH
  # ─────────────────────────────────────────
  /publish/{job_id}:
    post:
      tags: [publish]
      summary: 최종 게시 (2-Pass 재업로드 완료 후 호출)
      description: |
        클라이언트가 2-Pass 재렌더링(DeepAR 필터 적용) 및 S3 재업로드를
        완료한 후 이 엔드포인트를 호출합니다.
        DB에 Insert 후 상태를 PUBLISHED로 전환하여 피드에 노출합니다.
        PUBLISHING 상태에서 실패 시 클라이언트는 재시도 가능합니다.
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [final_s3_key, visibility]
              properties:
                final_s3_key:
                  type: string
                  description: 2-Pass 재업로드 완료된 S3 object key
                caption:
                  type: string
                  maxLength: 500
                hashtags:
                  type: array
                  items:
                    type: string
                  maxItems: 30
                visibility:
                  type: string
                  enum: [PUBLIC, FRIENDS, PRIVATE]
                subtitles:
                  type: array
                  description: 유저가 수정한 최종 자막 목록
                  items:
                    $ref: "#/components/schemas/Subtitle"
                bgm_id:
                  type: string
                  description: AI 추천 BGM 선택 시 ID (Photo 모드 전용)
      responses:
        "200":
          description: 게시 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  post_id:
                    type: string
                    format: uuid
                  video_url:
                    type: string
                    format: uri
                  published_at:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: 이미 게시된 job_id

  /publish/{job_id}/subtitles:
    get:
      tags: [publish]
      summary: AI 생성 자막 조회
      description: |
        READY_FOR_REVIEW 상태 이후 호출 가능.
        Gemini가 생성한 자막 초안을 반환합니다.
        유저가 수정 후 /publish 호출 시 subtitles 필드로 최종본을 전달합니다.
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 자막 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  subtitles:
                    type: array
                    items:
                      $ref: "#/components/schemas/Subtitle"
                  ai_confidence:
                    type: number
                    format: float
                    description: 0.0 ~ 1.0 — 낮을수록 수동 검토 권장

  # ─────────────────────────────────────────
  # FEED
  # ─────────────────────────────────────────
  /feed:
    get:
      tags: [feed]
      summary: 홈 피드 조회 (커서 기반 페이지네이션)
      security:
        - BearerAuth: []
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: 다음 페이지 커서 (첫 요청 시 생략)
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 30
      responses:
        "200":
          description: 피드 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: "#/components/schemas/FeedPost"
                  next_cursor:
                    type: string
                    nullable: true

  # ─────────────────────────────────────────
  # USER
  # ─────────────────────────────────────────
  /users/{user_id}:
    get:
      tags: [user]
      summary: 사용자 프로필 조회
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 프로필 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "404":
          description: 사용자 없음

# ─────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: 요청 파라미터 오류
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: 인증 실패 또는 토큰 만료
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    AuthTokens:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          description: 액세스 토큰 유효시간 (초)

    UploadStatus:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - UPLOADING
            - COMPRESSING
            - AI_ANALYZING
            - RENDERING
            - READY_FOR_REVIEW
            - PUBLISHING
            - PUBLISHED
            - FAILED
            - EXPIRED
        progress:
          type: integer
          description: 0 ~ 100 (%)
        ai_status:
          type: string
          enum: [PENDING, PROCESSING, SUCCESS, TIMEOUT, FAILED]
          nullable: true
        video_url:
          type: string
          format: uri
          nullable: true
          description: READY_FOR_REVIEW 이상 단계에서만 반환
        message:
          type: string
          nullable: true
          description: FAILED 시 사유 메시지 (예 — "AI_TIMEOUT")
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: READY_FOR_REVIEW 상태의 만료 시각 (24시간 후)

    DraftItem:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        upload_mode:
          type: string
        thumbnail_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [READY_FOR_REVIEW, EXPIRED]

    Subtitle:
      type: object
      properties:
        start_ms:
          type: integer
        end_ms:
          type: integer
        text:
          type: string

    FeedPost:
      type: object
      properties:
        post_id:
          type: string
          format: uuid
        user:
          $ref: "#/components/schemas/UserProfile"
        video_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        caption:
          type: string
        hashtags:
          type: array
          items:
            type: string
        like_count:
          type: integer
        comment_count:
          type: integer
        published_at:
          type: string
          format: date-time

    UserProfile:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        username:
          type: string
        profile_image_url:
          type: string
          format: uri
          nullable: true
        follower_count:
          type: integer
        following_count:
          type: integer

    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
        message:
          type: string
